.cards {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900; 
    padding: 15px 0 36px;
    margin-top: 72px;
}

.card {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap:20px 18px;
    padding: 0;
    margin: 0;
}

.card-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 282px;
    height: 282px;
}

.card-description {
    align-items: center;
    justify-content: space-between;
    max-width: 282px;
    display: flex;
    background-color: white;
    color: black;
    padding: 25px 20px 25px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    max-width: 220px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.card-like-button {
    background: transparent url(../images/like-inactive.svg) center no-repeat;
    width: 21px;
    height:18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
}

.card-like-button:hover {
    opacity: 0.5;
}

@media screen and (max-width:581px) {
    .cards {
        margin-top: 0;
        padding: 0;
    }

    .card {
    margin-top: 0;
    padding: 0;
    }
}