.footer__copyright {
    font-size: 18px;
    line-height: 21.78px;
    padding: 0;
    color: #545454;
    margin: 67px 0 60px;
}

@media screen and (max-width: 581px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
    }
}