.header {
    margin-top: 45px;
    max-width:880px;
    padding-bottom: 30px;
    padding-left: 27px;
    border-bottom: solid 1px rgb(84,84,84);
}

@media screen and (max-width:581px) {
    .header {
        margin-top: 28px;
        padding-bottom: 32px;
        padding-left: 27px;
    }

    .header__image {
        width: 126px;
    }
}