.modal {
  position: fixed;
  display: flex;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.modal__form {
  min-height: 200px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__image {
  object-fit: contain;
  width: fit-content;
  max-height: 70vh;
  max-width: 70vw;
}

.modal__caption {
  width: 291px;
  height: 12px;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: #000;
  margin: 0;
  margin-bottom: 60px;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  background-color: #ffff;
  margin: auto;
  min-width: 430px;
  min-height: 330px;
  width: 430px;
  padding: 36px;
  border-radius: 10px;
}

.modal__container_preview_image {
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close__icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__button {
  position: relative;
  bottom: -36px;
  align-items: center;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 2px;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 80%;
}

.modal__button:disabled {
  opacity: 50%;
  pointer-events: none;
}

.modal__input {
  display: block;
  position: relative;
  max-width: 358px;
  height: 28px;
  width: 100%;
  border: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  margin: 50px 0 10px;
  line-height: 17px;
  font-size: 14px;
}

.modal__error {
  position: absolute;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  opacity: 0;
  visibility: hidden;
}

.modal__input_type_error {
  border-bottom: 1px rgba(255, 0, 0, 1) solid;
}

.modal__error_visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 661px) {
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 30px);
    left: calc(100% + -30px);
  }
}

@media screen and (max-width: 581px) {
  .modal__container {
    min-height: 322px;
    min-width: 282px;
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    margin: 0 0 45px;
  }

  .modal__input {
    height: 27px;
    width: 238px;
    margin: 50px 0 10px;
  }

  .modal__error {
    padding-right: 15px;
  }

  .modal__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    width: 238px;
    height: 46px;
  }
}
